<!--
  Generated template for the RegisterPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Registro</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-list>
    <ion-item>
      <ion-input placeholder = "Nome" [(ngModel)] = "Nome"> </ion-input>
    </ion-item>
    <ion-item>
      <ion-input placeholder = "Sobrenome" [(ngModel)] ="sobrenome"></ion-input>
    </ion-item>
    <ion-item>
      <ion-input placeholder = "Email" [(ngModel)]= "Email"></ion-input>
    </ion-item>
    <ion-item>
        <ion-input placeholder = "Repita o Email" [(ngModel)] = "Email"> </ion-input>      
    </ion-item>
    <ion-item>
      <ion-input placeholder = "Senha" [(ngModel)]= "Senha" type="password"></ion-input>
    </ion-item>
    <ion-item>
      <ion-input placeholder = "Repita a Senha" [(ngModel)]= "repass" type="password"></ion-input>
    </ion-item>
  </ion-list>

  <button ion-button full color="secondary" (click)="register()">Registre-se</button>

</ion-content>
