<ion-content padding center text-center>
  <img width="200" height="200" src="https://assets.gitlab-static.net/uploads/-/system/project/avatar/8215733/organic-product_icon-icons.com_49216.png?width=22" alt="">
  <ion-title>Agricultura Familiar Organica</ion-title>
  <ion-list>
    <ion-item>
      <ion-input placeholder = "Email" [(ngModel)]="Email"></ion-input>
    </ion-item>
    <ion-item>
      <ion-input placeholder = "Senha" type="password" [(ngModel)]="Senha"></ion-input>
    </ion-item>
  </ion-list>

  <button ion-button full (click) ="login()">Login</button>
  <button ion-button full color = "secondary" (click) = "goRegister()">Registre-se</button>
</ion-content>
