<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Home</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <div class="search">
    <!--<ion-icon name="search"></ion-icon>-->
    <input class="input-search" placeholder="Pesquisar">
  </div>
  <div class="feed">
    <ion-card class="feed-card">
      <img class="feed-img" src="https://http2.mlstatic.com/400-sementes-de-alface-crespa-cristina-D_NQ_NP_233811-MLB20642843566_032016-F.jpg">
      <div class="text">
        <h1 class="title">Alface Crespa khbsdiavg kjasdbvi kdshag</h1>
        <p class="description">Alface organica prodizida sem agrotoxicos hgou hviyfd ytydtdtes 7eswa 5ea4a ytgt jnugf</p>
        <p class="price">R$ 3,00</p>
      </div>
    </ion-card>

  </div>
  <!--<page-product-card></page-product-card>-->
</ion-content>

