page-home {
  .search {
    display: block;
    margin-top: 5px;
    padding: 10px 0px 9px 20px;
    border: none;
    border-radius: 500px;
    background-color: #f1f3f4;
    white-space: nowrap;
    overflow:hidden;
    .input-search {
      background-color: #f1f3f4;
      border: none;
      width: 100%;
    }
  }
  .feed {
    width: 100%;
    margin: 10px 0px 4px -7px;
    .feed-card {
      display: inline-flex;
      height: 150px;
      width: 99%;
      border-radius: 10px;
      .feed-img {
        height: 150px;
        width: 150px;
        white-space:nowrap;
        overflow: hidden;
      }
      .text {
        display: block;
        margin: 10px 0px 0px 11px;
        width: 50%;
        .title {
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
        }
        .description {
          height: 81px;
          overflow: hidden;
          text-overflow: ellipsis;
        }
        .price {
          position: relative;
          left: 150px;
          top: 5px;
          color: #7b7b7b;
        }
      }
    }
  }
}
