page-product-card {
  .feed-card {
    margin: 10px 0px 4px 1px;
    display: block;
    height: 250px;
    width: 99%;
    border-radius: 10px;
    .top-part {
      display: inline-flex;
      .feed-img {
        height: 150px;
        width: 150px;
        //max-width: 150px;
        white-space: nowrap;
        overflow: hidden;
      }
      .text {
        display: block;
        margin: -5px 0px 0px 11px;
        //width: 50%;
        .price {
        }
      }
    }
    .description {
      margin: -3px 0px 0px 10px;
      //height: 81px;
    }
  }
}

