<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Perfil</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding style="background-color: #f1f3f4;">
  <ion-card class="profile-card">
    <img class="profile-img" src="https://www.meme-arsenal.com/memes/b7a6a9da6abd0d2add30da776e5c8242.jpg">
    <div class="text">
      <h1 class="name">Umberto Eco</h1>
      <p class="birth">31/07/1983</p>
      <p class="description">jgfutui uyfutf utfiy lyguttr udyusets iufdu6r yre5w 57w7e tfugf uye4 5646r utfudr ew43 q5e rf7 6ew53 wiygutf ufyrdr gvfyrdtews sdrwa</p>
    </div>
    <button ion-button color="secondary" class="save" id="save">Salvar</button>
  </ion-card>

</ion-content>
